.homeSplash{
	background:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) ), url('../images/splash.jpg');
	background-size:   cover;  
	background-position: center center;  
	.inner{
		margin: 0 auto ;
		padding: 100px 5px 100px 5px;
		text-align: center;
		color: white;
		h1, h3{
			font-weight: 300;
		}
		#logo{
			width: 600px;
			margin: 0 auto;
		}
		#startUsingButton{
			font-weight: 300;
			padding: 20px;
			margin-top: 5px;
			color: white;
			font-size: 22px;
			background-color: transparent;
			&:hover{
				background:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
			}
		}
	}
}

#homePageContainer{
	background: url('../images/symphony.png');
	section{
		header{
			text-align: center;
			padding: 10px;
			h1{
				font-weight: 900;
			}
			margin-bottom: 10px;
		}
		article{
			font-size: 1.2em;
			.img-description{
				display:block;
				width: auto;
				height: 150px;
				margin: 0 auto 15px auto;
			}
		}

		&:last-of-type{
			padding-bottom: 80px;
		}
	}
	footer{
		border-top: 1px solid lightgrey;
		padding: 20px 0px 10px 0px;
	}

}
