.homeSplash{
	background-image: url('../images/splash.jpg');
	background-size:   cover;  
	height: 600px;
	@media (min-width: $screen-sm-min){
		margin-top: -72px;
	}
	@media (max-width: $screen-sm-min){
		margin-top: -20px;
	}
	background-position: center center;  
	
	.inner{
		margin: 0 auto;
		position: relative;
		top: 50%;
		text-align: center;
		transform: translateY(-50%);
		color: white;
		.title{
		}
	}
}