#viewAllMedia{
	width: 100%;
	margin: 5px 0px 5px 0px;
}
.link{
	p.sender_name{
		margin: 0px;
		font-size: 22px;	
	}
	p.date{
		color: lightgrey;
	}
	a{
		max-width: 960px;
		font-size: 22px;
		word-wrap: break-word;
	}
	img.avatar{

		width: 100px;
		max-width: 100%;
		border-radius: 50px;
	}
	.divider{
		width: 100%;
		height: 1px;
		background-color: lightgrey;
		margin: 10px 0px 10px 0px;
	}
}
#linksLoader{
	text-align: center;
	
}
#loadFinished{
	text-align: center;
}