#loginForm{
	text-align: center;
}
.loginButton{
 	width: 300px;
  	max-width: 100%;
 	margin: 0 auto;
  	
 	color: white;
 	text-align: left;
 	&:hover{
 		color:darken(white,10%);
 	}
 	&.facebook {
 		background-color: #3b5998;	
 	}
 	&.slack{
 		background-color: #e21565;
 	}
 	span {
 		width: 100%;
 	}
 	.fa{
 		text-align: left;
 		width: 20px;
 		
 		margin-right: 5px;
 		border-right: 1px solid rgba(255, 255, 255, 0.5);
 	}
}
