@import 'mixins';
#profilePicture{
	width: 50px;
	height: 50px;
	padding: 5px;
	@include roundimage(50px);
	margin-right: 5px;
}

.navbar-brand img {
	max-height: 100%;
}

#dropdownWithImg{
	padding: 0px;
	color:white;
}
