<nav class="navbar navbar-default navbar-static-top" ng-class="{transparentNavBar : isOnMainPage()}">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">Grabbr</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="user.isAuthenticated"><a ui-sref="links">Links</a></li>
        <li ng-show="user.isAuthenticated"><a ui-sref="conversations">Conversations</a></li>
        <li ng-hide="user.isAuthenticated"><a ui-sref="login" class="login">Login</a></li>
        <li class="dropdown desktopDropdown">
          <a class="dropdown-toggle" id="dropdownWithImg" data-toggle="dropdown" 
            role="button" aria-expanded="false" ng-show="user.isAuthenticated">
            <img id="profilePicture" ng-src="{{user.profilePic}}"/>
            <p style="display:inline">{{user.fullName}}</p>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings</a></li>
            <li><a ng-click="user.logout()">Logout</a></li>
          </ul>
        </li>      
        <li class="mobileDropdown" ng-show="user.isAuthenticated"><a href="#">Settings</a></li>
        <li class="mobileDropdown" ng-show="user.isAuthenticated"><a ng-click="user.logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>