<div id="loginForm" ng-hide="isLoading">
	<p>In order to use grabbr you must login with your Slack account.</p>
	<form class="form">

		<div class="form-group">
			<button class="btn btn-block loginButton slack" ng-click="authenticate('slack')">
				<i class="fa fa-slack"></i> <span>Sign in with Slack</span>
			</button>
		</div>
	</form>
	<p>You can read our privacy policy <a ui-sref="privacyPolicy">here</a></p>

</div>
<div ng-show="isLoading">
	<p class="text-center">Logging you in...</p>
	<div class="spinner">
		<div class="dot1"></div>
		<div class="dot2"></div>
	</div>			
</div>