<div id="loginForm" ng-hide="isLoading">
	<p>In order to use Linksgrabber you must login with a Facebook account.</p>
	<button class="btn btn-block" id="loginButton" ng-click="authenticate('facebook')">
		<i class="fa fa-facebook"></i> Sign in with Facebook
	</button>
	<p>You can read our privacy policy <a ui-sref="privacyPolicy">here</a></p>

</div>
<div ng-show="isLoading">
	<p class="text-center">Logging you in...</p>
	<div class="spinner">
		<div class="dot1"></div>
		<div class="dot2"></div>
	</div>			
</div>