<div class="homeSplash">
	<div class="inner">
		<img src="images/logo.png" class="img-responsive" id="logo" alt="logo">
		<h3>Still looking for that link?</h3>
		<h3>Look no more! Our app grabs all of them and saves them for you!</h3>
		<button class="btn btn-default" id="startUsingButton" ui-sref="login">Start using LinksGrabber</button>
	</div>
</div>
<div id="homePageContainer">
	<section>
		<article class="container-fluid">
			<div class="row" id="facebookRow">
				<div class="col-md-5 col-md-push-6">
					<!-- <img src="images/fb-logo.png" class="img-description" /> -->
					<div class="browser-mockup">
						<div class="image_screenshot"></div>
					</div>

				</div>
				<div class="col-md-5 col-md-pull-4 valign" class="text">
					<header>
						<h1>What is grabbr?</h1>
					</header>
					<p> 
						All you have to do is sign in with Facebook and we’ll do the hard work of looking through your messages and saving just the right URLs. Then you can look through them, filter them by date/website or person that sent it. 
					</p>
				</div>
			</div>
		</article>
	</section>

	<section>
		<article class="container-fluid">
			<div class="row" id="mediaRow">
				<div class="col-md-3 col-md-push-1 valign">
					<img src="images/graph.png" alt="Facebook to Spotify and Youtube" class="img-responsive">
				</div>
				<div class="col-md-7 col-md-push-1 valign">
					<header>
						<h1>Integration with Spotify and Youtube</h1>
					</header>	
					<p class="text-left">Having difficulties keeping track of all your received songs or videos from Spotify and Youtube. We thought about you and solved your problem! Our app automatically creates an Youtube or Spotify playlists from the videos and songs you receive so you’ll never lose them again. All of your friend’s favourite songs will be right at your disposal and ready for you to listen to.</p>
					
				</div>
			</div>
		</article>
	</section>
<!-- 	<section>
		<header>
			<div class="container">
				<h1>Join our mailing list</h1>			
			</div>
		</header>
		<article>
			<div class="container">
				<div class="row">
					<form class="col-md-10 col-md-push-1" id="subscribeForm">
						<div class="input-group input-group-lg form-group">
							<span class="input-group-addon" id="sizing-addon1" ng-model="email">email</span>
							<input type="text" class="form-control" placeholder="Enter your email here" aria-describedby="sizing-addon1">
						</div>
						<button class="btn btn-primary">Subscribe</button>
					</form>
				</div>
			</div>
		</article>
	</section> -->
	<footer>
		<div class="container">
		<p>&#169; {{date | date :'yyyy'}} grabbr.io . You can find our privacy policy <a ui-sref="privacyPolicy">here</a></p> 
		</div>
	</footer>
</div>