<div class="container">	
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<button class="btn btn-primary" ng-click="shouldshowallmedia=!shouldshowallmedia" id="viewAllMedia">
					<span ng-hide="shouldshowallmedia">Show</span>
					<span ng-show="shouldshowallmedia">Hide</span> all media
				</button>
			</div>
			<input ng-model="searchText" type="text" class="form-control" placeholder="Type here to filter">
			
		</div>
		<div class="col-md-9">
			<div infinite-scroll='loadNextPage()' infinite-scroll-disabled='isBusy || isDone' infinite-scroll-distance='1'>
				
				<div ng-repeat="link in links | filter: searchText">
					<linkrow data="link" shouldshowallmedia="shouldshowallmedia"></linkrow>
				</div>
				<div ng-show='isBusy' id="linksLoader">Loading data...</div>
				<div ng-show="isDone" id="loadFinished">These are all the links you have recieved</div>
			</div>
		</div>
		
	</div>
</div>