<div class="link card">
	<div class="title">
		<div>
			<img ng-src="{{::data.sender.facebookImgUrl}}" class="avatar">		
		</div>
		<div class="titleText">
			<p class="sender_name" >{{::data.sender.name}} sent you </p>
			<p class="date visible-xs"><i class="fa fa-clock-o"></i> {{::data.sent_at*1000 | fromNow}}</p>
		</div>
		<div class="titleText pull-right hidden-xs">
			<p class="date"><i class="fa fa-clock-o"></i> {{::data.sent_at*1000 | fromNow}}</p>
		</div>
	</div>
	<a ng-href="{{::data.text}}">{{data.text}}</a>
	<inlinemediaview iivsrc="data.text" iivshouldshowmedia="shouldshowallmedia"></inlineimageview>
</div>