
<div infinite-scroll='links.nextPage()' infinite-scroll-disabled='links.isBusy || links.isDone' infinite-scroll-distance='1' class="container">
	<button class="btn btn-primary" ng-click="shouldShowAllImages=!shouldShowAllImages">Show All Images</button>
	<div ng-repeat="link in links.items">
		<linkrow data="link" shouldshowallimages="shouldShowAllImages"></linkrow>
	</div>
	<div ng-show='links.isBusy' id="linksLoader">Loading data...</div>
	<div ng-show="linnks.isDone" id="loadFinished">These are all the links you have recieved</div>
</div>